<script
src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>

<script>
function initialize()
{
var myLatlng = new google.maps.LatLng(<%=@feed.latitude%>,<%=@feed.longitude%>);
var mapProp = {
  center:myLatlng,
  zoom:13,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
});



}

function displayMap() {
             document.getElementById('feed_show_map').style.display="block";
             initialize();
         }
</script>


<div id="show_feed_wrapper">
		
		<p>
		  <h2 class="show_link">
		 <center> <%= link_to @feed.title, @feed.url %></center>
		 </h2>
		</p>
		<p id="notice"><%= notice %></p>

  		<%= @feed.content.html_safe if @feed.content?%>

<center>
<img src="<%= @feed.thumbnail_url %>">
<img src="<%= @feed.linkobject %>">
</center>

		
		
			<hr class="style-two">
		
		<div id="show_feed_wrapper_bottom">

			<div id="title_divider_left">
				<%  @user = User.find_by_id(@feed.user_id) %>
				<% @setting = Setting.find(@user.id) %>


			
					<%if @feed.location%>
					<p class="location_feeds">
					Location: </p><%=@feed.location%>
					<%end%>
				
<p>
				<p class="info_feeds">
					comments 
				</p>
				<p class="info_feeds_color">
					<%=@feed.comments.count%>
				</p>	
				<p class="info_feeds">
					read count
				</p>	
				<p class="info_feeds_color">
					<%=@article.unique_impression_count%> 
				</p>
				<p class="info_feeds">
					rating
				</p>	
				<p class="info_feeds_color">
					<%=@feed.votes%>
				</p>
				<br>
				<% if current_user %>
				  	<%if current_user.up_voted?(@feed)%>
					up
					<%else%>
					<%= link_to "up", vote_path(:type=>"up") %>
					<%end%>
					|
					<%if current_user.down_voted?(@feed)%>
					down
					<%else%>
					<%= link_to "down", vote_path(:type=>"down") %>
					<%end%>
				<% end %>
				
				</div>

				<div id="title_divider_right">
					<img src="<%=@feed.feedpic%>"> <%=@feed.type_of_feed%><br>
					<%=@feed.language%>
				</div>




	
	
<%if @feed.location!=nil%>	
<p style="margin-top:40px;">
	<button onclick="displayMap()">Show Map</button>
	<div id ="feed_show_map">
		<div id="feed_show_map_left">
		<div id="googleMap"></div>
		</div>
		
		<%if @localfeeds != nil%>
		<div id="feed_show_map_right">
			<p class="location_feeds">Nearby happenings</p>
			<% for f in @localfeeds %>
			  <ul><%= link_to f.location, f %> (<%= f.distance.round(2) %> miles)</ul>
			<% end %>	
		</div>
		<%end%>
		
		
	</div>
</p>
<%end%>		
		
	</div>
</div>


<div id="bottom_stuff_feeds">
	<div id="commenting_area"> <%if current_user%> <%= render "comments/form"%> <%else%> <%= link_to "login to
		comment.", sessions_path %> <%end%> </div>
		<%if @comments%>
			<%= nested_comments @comments%>
		<%end%>

		<%= will_paginate @comments, :class => 'pagination_comments', :page_links => false, :next_label => 'load more comments' %>
		
		</div>




