<%@commenter = User.find(comment.user_id)%>
<%@setting = Setting.find(comment.user_id)%>

<%if comment.parent==nil%>
<div id="comment_box_parent">
	<%= link_to(@commenter) do %>	
	<div id="comment_box_user_info">
	<img src="<%=find_profile_pic(comment.user_id)%>" class="pictureresizing">
	<br>
	<%=@commenter.name%>
	</div>
  <%end%>
 <%= h(comment.content).gsub(/\n/, '<br/>').html_safe %>

<div id="comment_box_action">
	<hr class="style-two">
	<div id="comment_box_vote"><h1 class="votecount"><%=comment.votes%></h1>
		<%if current_user%>
		<%if current_user.up_voted?(comment)%>
		up
		<%else%>
		<%= link_to "up", votecomment_path(:type=>"up", :comment_id=>comment.id) %>
		<%end%>
		|
		<%if current_user.down_voted?(comment)%>
		down
		<%else%>
		<%= link_to "down", votecomment_path(:type=>"down", :comment_id=>comment.id) %>
		<%end%>
		<%end%>
		</div>
	Commented on <%= comment.created_at.strftime('%d %b, %Y at %H:%M')%>
	<br>
	<br><% if current_user %>
  <%= link_to "Reply", new_polymorphic_path([@commentable, Comment.new], :parent_id => comment)%>
  <%= link_to "Delete", comment, :method => :delete %>
	<% end %>


<br>

</div>
</div>
<%else%>
<div id="comment_box_child">
		<%= link_to(@commenter) do %>	
		<div id="comment_box_user_info">
		<img src="<%=find_profile_pic(comment.user_id)%>" class="pictureresizing">
		
		<br>
		<%=@commenter.name%>
		</div>
	  <%end%>
	 <%= h(comment.content).gsub(/\n/, '<br/>').html_safe %>

	<div id="comment_box_action">
		<hr class="style-two">
		<div id="comment_box_vote"><h1 class="votecount"><%=comment.votes%></h1>
			<%if current_user%>
			<%if current_user.up_voted?(comment)%>
			up
			<%else%>
			<%= link_to "up", votecomment_path(:type=>"up", :comment_id=>comment.id) %>
			<%end%>
			|
			<%if current_user.down_voted?(comment)%>
			down
			<%else%>
			<%= link_to "down", votecomment_path(:type=>"down", :comment_id=>comment.id) %>
			<%end%>
			<%end%>
			</div>
		Commented on <%= comment.created_at.strftime('%d %b, %Y at %H:%M')%>
		<br>
		<br><% if current_user %>
	  <%= link_to "Reply", new_polymorphic_path([@commentable, Comment.new], :parent_id => comment)%>
	  <%= link_to "Delete", comment, :method => :delete %>
		<% end %>


	<br>

	</div>
</div>
<%end%>
  <%= nested_comments comment.children%>


  