
<%@commenter = User.find(comment.user_id)%>
<%@setting = Setting.find(comment.user_id)%>

<%if comment.parent==nil%>

<div id="comment_box_parent">
	<%= link_to(@commenter) do %>	
	<div id="userinfo_identity", style="margin-left:10px; margin-right:10px;">
		<div id="identity_photo_box_after_resize">	
			<%if @commenter.provider=='facebook' || @commenter.provider=='twitter' %>
				<%if @setting.profilepicture.url != '/profilepictures/original/missing.png' %>
					<img src="<%=@setting.profilepicture.url%>" class="identity_resize">
				<% else %>
					<img src="<%=@commenter.image%>" class="identity_resize">
				<%end%>
			<%else%>
				<%if @setting.profilepicture.url != '/profilepictures/original/missing.png' %>
				<img src="<%=@setting.profilepicture.url%>" class="identity_resize">
				<%else%>
				<img src='/assets/nopic.png' class="identity_resize">
				<%end%>
			<%end%>		
		</div>
	<br>
		<%= link_to @commenter.name, @commenter, :style => "font-size:11px;"%>
	</div>
  <%end%>
 <%= h(comment.content).gsub(/\n/, '<br/>').html_safe %>

<div id="comment_box_action">
	<hr class="style-two">
	<div id="comment_box_vote"><h1 class="votecount"><%=comment.votes%></h1>
		<%if current_user%>
		<%if current_user.up_voted?(comment)%>
		<i class="icon-thumbs-up"></i>
		<%else%>
		<%= link_to "", votecomment_path(:type=>"up", :comment_id=>comment.id), :class=>"icon-thumbs-up" %>
		<%end%>
		<%if current_user.down_voted?(comment)%>
		<i class="icon-thumbs-down"></i>
		<%else%>
		<%= link_to "", votecomment_path(:type=>"down", :comment_id=>comment.id), :class=>"icon-thumbs-down"  %>
		<%end%>
		<%end%>
		</div>
	Commented on <%= comment.created_at.strftime('%d %b, %Y at %H:%M')%>
	<br>
	<br><% if current_user %>
  <%= link_to "Reply", new_polymorphic_path([@commentable, Comment.new], :parent_id => comment)%>
  <%= link_to "Delete", comment, :method => :delete %>
	<% end %>


<br>

</div>
</div>
<%else%>
<div id="comment_box_child">
		<%= link_to(@commenter) do %>		
		<div id="userinfo_identity", style="margin-left:10px; margin-right:10px;">
			<div id="identity_photo_box_after_resize">	
				<%if @commenter.provider=='facebook' || @commenter.provider=='twitter' %>
					<%if @setting.profilepicture.url != '/profilepictures/original/missing.png' %>
						<img src="<%=@setting.profilepicture.url%>" class="identity_resize">
					<% else %>
						<img src="<%=@commenter.image%>" class="identity_resize">
					<%end%>
				<%else%>
					<%if @setting.profilepicture.url != '/profilepictures/original/missing.png' %>
					<img src="<%=@setting.profilepicture.url%>" class="identity_resize">
					<%else%>
					<img src='/assets/nopic.png' class="identity_resize">
					<%end%>
				<%end%>		
			</div>
		<br>
			<%= link_to @commenter.name, @commenter, :style => "font-size:11px;"%>
		</div>
	  <%end%>
	 <%= h(comment.content).gsub(/\n/, '<br/>').html_safe %>

	<div id="comment_box_action">
		<hr class="style-two">
		<div id="comment_box_vote"><h1 class="votecount"><%=comment.votes%></h1>
			<%if current_user%>
			<%if current_user.up_voted?(comment)%>
			<i class="icon-thumbs-up"></i>
			<%else%>
			<%= link_to "", votecomment_path(:type=>"up", :comment_id=>comment.id), :class=>"icon-thumbs-up" %>
			<%end%>
			|
			<%if current_user.down_voted?(comment)%>
			<i class="icon-thumbs-down"></i>
			<%else%>
			<%= link_to "", votecomment_path(:type=>"down", :comment_id=>comment.id), :class=>"icon-thumbs-up" %>
			<%end%>
			<%end%>
			</div>
		Commented on <%= comment.created_at.strftime('%d %b, %Y at %H:%M')%>
		<br>
		<br><% if current_user %>
	  <%= link_to "Reply", new_polymorphic_path([@commentable, Comment.new], :parent_id => comment)%>
	  <%= link_to "Delete", comment, :method => :delete %>
		<% end %>


	<br>

	</div>
</div>
<%end%>
  <%= nested_comments comment.children%>


  