<%if @tokeywords.nil?%>
	<%= metamagic :title => "Pandonews.com", :description => "News and feeds parsed to you easily", :keywords => "News and shit"  %>
<%else%>
	<%= metamagic :title => "Pandonews.com", :description => "News and feeds parsed to you easily", :keywords => @tokeywords.split(/ /).join(', ')  %>
<%end%>

<div id ="home_top"><center><div id="home_frontpagemap">
</div><div id="home_top_feeds">
	<%@feedsWithLocations.each do |f|%>
	<p class="home_top_feeds_titles"> <%=link_to f.title, f%></p>, <%=f.location%> <br>
	<%end%>

<script>
		var map = L.map('home_frontpagemap');

		L.tileLayer('http://{s}.tile.cloudmade.com/{key}/22677/256/{z}/{x}/{y}.png', {
			attribution: 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2013 CloudMade',
			key: 'BC9A493B41014CAABB98F0471D759707'
		}).addTo(map);

		var LeafIcon = L.Icon.extend({
			options: {
				iconSize:     [16, 16],
				iconAnchor:   [16, 16],
				popupAnchor:  [-5, -16]
			}
		});
		
		var markers = new Array(<%=@feedsWithLocations.count%>);
		var count = 0;

	
		
		<%@feedsWithLocations.each do |f|%>			
			markers[count] = new L.LatLng(<%=f.latitude%>,<%=f.longitude%>);
			var pic = '<%= f.feedpic%>';
			var link = "<%=f.title%>";
			var userIcon = new LeafIcon({iconUrl: pic});			
			L.marker(markers[count], {icon: userIcon}).bindPopup('<a href="/feeds/'+'<%=f.id%>' +'">' + link +' </a>').addTo(map);			
			count = count + 1;
		<%end%>
		
		var bounds=(markers);
	
		map.fitBounds(bounds);
		var zoomLevel = map.getZoom();
		map.setZoom(zoomLevel-1);
	
</script>



	
</div></center>
</div>


<div id="home_middle_menu">
		<center>
			

			<p class="logoText">
				top feed entries	
		</p></center>
		<hr style="width:50%;"/>
		<center>
		<nav>
		
		<%case @link_feed_type %>
		  <%when 'mostread' || ''%>
			<%= link_to content_tag(:b, "Most read"), root_path(:feed_type => "mostread") %> |
			<%= link_to "Most recent", root_path(:feed_type => "mostrecent") %> |
			<%= link_to "Most discussed", root_path(:feed_type => "mostcommented") %>		    
		  <%when 'mostrecent'%>
			<%= link_to "Most read", root_path(:feed_type => "mostread") %> |
			<%= link_to content_tag(:b, "Most recent"), root_path(:feed_type => "mostrecent") %> |
			<%= link_to "Most discussed", root_path(:feed_type => "mostcommented") %>	    
		  <%else%>
			<%= link_to "Most read", root_path(:feed_type => "mostread") %> |
			<%= link_to "Most recent", root_path(:feed_type => "mostrecent") %> |
			<%= link_to content_tag(:b, "Most discussed"), root_path(:feed_type => "mostcommented") %>		
		<%end%>
		</nav>

		</center>
		
</div>

<div id="home_feedboxes_wrap">
<div id="feedboxes">
	    <%= render :partial => 'feeds', :collection => @feeds %>		
</div>

</div>
<%if @feeds%>
<div id="lastpage_identity" type="<%=@feeds.total_pages%>">
<center>
<%= will_paginate(@feeds)%></center></div>	
<%end%>





