<%= form_for @setting, :html => { :multipart => true} do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>

  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :location_choice%><br />
    <%= f.check_box :location_choice %>
  </div>

  <div class="field">
    <%= f.label :primary_language %><br />
    <%= f.text_field :primary_language %>
  </div>

  <div class="field">
    <%= f.label :languages %><br />
    <%= f.text_field :languages %>
  </div>

  <div class="field">
    <%= f.label :profilepicture %><br />
    <%= f.file_field :profilepicture %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= form_for @setting do |t| %>
	<%if @setting.profilepicture.url != '/profilepictures/original/missing.png' %>
	    <%= t.label 'DELETE IMAGE!' %><br />
		<%= t.hidden_field :image_choice, :value=>"1"%>
		<%= t.submit "Remove picture" %>
	<%end%>
<% end %>
