<%@content = renderplate.summary ||= renderplate.content ||= ""  %>

<%  @anv = User.find_by_id(renderplate.user_id) %>
<%  @set = Setting.find_by_id(renderplate.user_id) %>
<% @sanitized_content = Sanitize.clean(@content).first(500) %>

<div id="feedbox">
  <div id="feedbox_content_identity">
	<%if !renderplate.thumbnail_url.nil? || !renderplate.linkobject.nil? %>
	<div id="userinfo_identity">
		<div id="identity_photo_box_after_resize">
			<%if renderplate.thumbnail_url.nil?%>
				<img src='<%=renderplate.linkobject %>' class="identity_resize">
			<%else%>
				<img src='<%=renderplate.thumbnail_url %>' class="identity_resize">
			<%end%>
						
		</div>
	</div>
	<%end%>
	
	<div id="identity_feedbox_shadow">
		<div id="headerboxtext_identity">		
		<p class="headerlinkstyle"> <%= link_to renderplate.title, renderplate %>
		</p>
		</div>
		
	<p class="feedtext_identity"><%=@sanitized_content %></p>
	<p class="identity_feedtext_logo_and_title"><img src="<%=renderplate.feedpic%>"> <%=renderplate.type_of_feed%></p>
	</div>	
	</div>
</div>