<div id="sessions_middlebox">
<p class="magic_font" style="margin-left:10%; margin-top:0px;">New Account</p>

<%= form_tag "/auth/identity/register" do %>

		<% if @identity && @identity.errors.any? %>
	    <div class="error_messages">
	      <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
	      <ul>
	      <% @identity.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
	<div id="sessions_field">
	<div id="sessions_new_divider">
	
	  <div id="sessions_fields">
	    <%= label_tag "Full name" %><br>
	    <%= text_field_tag :name, @identity.try(:name) %>
	  </div>
	  <div id="sessions_fields">
	    <%= label_tag :email %><br>
	    <%= text_field_tag :email, @identity.try(:email) %>
	  </div>
	  <div id="sessions_fields">
	    <%= label_tag :password %><br>
	    <%= password_field_tag :password %>
	  </div>
	  <div id="sessions_fields">
	    <%= label_tag :password_confirmation %><br>
	    <%= password_field_tag :password_confirmation %>
	  </div>
	  <div class="actions"><%=submit_tag "Register" %></div>
	</div>

	<img src="/assets/einsteinequation.png" id="sessions_new_divider">
	<p class="magic_font" style="margin:0; margin-left:5%; float:left; font-size:17px;">Happy PANDO</p>
	</div>
		
<% end %>
</div>
