<%=render :partial => 'profilebox'%>
<%=render :partial => 'platemenu'%>

<div id="identity_main">
	
<%if @feeds%>	
	    <%= render :partial => 'renderplate', :collection => @feeds %>
<%else%>
		<h1><center>Nothing here... yet</center></h1>
<%end%>
</div>

<%if @feeds%>
<div id="lastpage_identity" type="<%=@feeds.total_pages%>">
<center>
<%= will_paginate(@feeds)%></center></div>	
<%end%>