<meta name="description" content="Pandonews - The way to find news near you">
<div id="bottom_stuff_feeds" class="span9" style="margin-top:50px;">

<h1 style="color:orange;">What is pandonews?</h1>
<p style="margin-left:10%; margin-right:10%; color:gray; font-size:14;">Pandonews is a great way to read your favorite news stories on the web without downloading an app. It is also a powerful tool to market your blog to others and a great platform to find news near you!</p>
	
<h1 style="color:orange;">How do I find news for me?</h1>
<p style="margin-left:10%; margin-right:10%; color:gray; font-size:14;"> After you've <%=link_to "signed up", sessions_path %>, follow these simple steps:</p>
<div id="suggestions_stage"><img src="/assets/stage1.png"></div>
<div id="suggestions_stage"><img src="/assets/stage2.png"></div>
<div id="suggestions_stage"><img src="/assets/stage3.png"></div>
<div id="suggestions_stage" style="background-color:white"><p class="magic_font" style="font-size:23px;">Have any suggestions?</p>
<p style="margin-left:10%; margin-right:10%; color:gray; font-size:14;"> We are always open for suggestions, please leave us a comment below. Top-ranked suggestions will be shown on top!</p></div>

	
	</div>

	<div id="bottom_stuff_feeds">
		<div id="commenting_area"> <%if current_user%> <%= render "comments/form"%> <%else%> <%= link_to "login to
			comment.", sessions_path %> <%end%> </div>
			<%if @comments%>
				<%= nested_comments @comments%>
			<%end%>

			<%= will_paginate @comments, :class => 'pagination_comments', :page_links => false, :next_label => 'load more comments' %>		
	</div>
