<div id="bottom_stuff_feeds" style="margin-top:100px;">

	<p class="headerlinkstyle">
	<%= @suggestion.title%></p>
	<p class="feedtext_identity"><%= @suggestion.content%></p>
	
	</div>

<div id="bottom_stuff_feeds">
	<div id="commenting_area"> <%if current_user%> <%= render "comments/form"%> <%else%> <%= link_to "login to
		comment.", sessions_path %> <%end%> </div>
		<%if @comments%>
			<%= nested_comments @comments%>
		<%end%>

		<%= will_paginate @comments, :class => 'pagination_comments', :page_links => false, :next_label => 'load more comments' %>
		
		</div>
</div>
