<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29664429-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
	
<title>rootfeed</title>
<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tag %>




</head>
<body>
	
	

	<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %> 

	<div id="container">
		<%= yield %>		
	</div>


</body>

<div id="navigation">
	<div id="navigation_image">
		<%= link_to image_tag("/assets/f.png", :class=>"logo"), root_url %> 
</div>

<% @search = Search.new %>
<%= form_for @search, :class => "inlines" do |f| %>
	<%=f.text_field :searchall,  :class => "inlines", :placeholder => "search for locations, news, or users" %>
<%end%>

<div id="navigation_text">

	<% if current_user %>
	<div id="navigation_text_options">
	<% @anvC = User.find_by_id(current_user.id) %>
	<%=link_to "profile", user_path(@anvC.id) %>
	</div>
	<% @setting = Setting.find(@anvC.id) %>
	<div id="navigation_text_options">
	<%=link_to "settings", edit_setting_path(@setting)%>
	</div>
	<div id="navigation_text_options">
	<%=link_to "suggestions", suggestion_path%>
	</div>
	<div id="navigation_text_options_last">
	<%=link_to "logout", logout_path%>
	</div>
	<% else %>

	<div id="navigation_text_options">
	<%=link_to "login", sessions_path %>
	</div>
	<div id="navigation_text_options_last">
	<%=link_to "suggestions", suggestion_path%>
	</div>
	<%end%>


</div>


</div>


	<div id = "footer"></div>
	<div id="bottombar">info here?</div>

</html>
