<!DOCTYPE html>
<html>
<head>
	<%= metamagic %>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29664429-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
<title>pandonews - news near you</title>
<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tag %>
</head>
<body>
	<meta name="description" content="Pandonews - The way to find news near you">
	<%	meta [:property => "og:image", :content => "http://www.pandonews.com/assets/f.png"] %>
	<div id= "home_top_fill"></div>
	

	<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %> 

	<div id="container-old">
		<%= yield %>		
	</div>


</body>
<div id="navigation">
	<div id="navigation_image">
		<%= link_to image_tag("/assets/f.png", :class=>"logo"), root_url %> 
</div>

<% @search = Search.new %>
<%= form_for @search, :class => "inlines" do |f| %>
	<%=f.text_field :searchall,  :class => "inlines", :placeholder => "search for locations, news, or users" %>
<%end%>

<div id="navigation_text">

	
	<% if current_user %>
	<ul class="span6 nav nav-tabs nav-justified">
	<% @anvC = User.find_by_id(current_user.id) %>
	<% @setting = Setting.find(@anvC.id) %>
	<li><%=link_to user_path(@anvC.id) do %>
		<span class="icon-user"></span>
		profile
	<%end%>	
	</li> 	
	<li><%=link_to edit_setting_path(@setting) do %>
		<span class="icon-wrench"></span>
		settings
	<%end%>	
	</li>
	<li><%=link_to suggestion_path do %>
		<span class="icon-heart"></span>
		about
	<%end%>	
	</li>
	<li><%=link_to logout_path do %>
		<span class="icon-chevron-down"></span>
		logout
		<%end%>	
	</li>
	</ul>
	
	<% else %>

<ul class="nav nav-tabs nav-justified">
	<li><%=link_to sessions_path do %>
		<span class="icon-globe"></span>
		login or signup
	<%end%>	
	</li>
	
	<li><%=link_to suggestion_path do %>
		<span class="icon-heart"></span>
		about
	<%end%>	
	</li>
</ul>



	<%end%>


</div>
</div>


	<div id = "footer"></div>
	<div id="bottombar"></div>

</html>
